<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/aside') %>
    <main>
      <h1>Restaurant not found in our database</h1>
      <p>
        I know you're hungry, but you should check you didn't misspelled the URL 
      </p>
    </main>
  </body>
</html>
